<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591075817293-j93j1q2g2gqr8akhcla47nbh575c88tv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591075817293-j93j1q2g2gqr8akhcla47nbh575c88tv</string>
	<key>API_KEY</key>
	<string>AIzaSyCHHgZGCm1bwvcn3QgIocyLqeQEsRRT4F8</string>
	<key>GCM_SENDER_ID</key>
	<string>591075817293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Olga-Lidman.OnlyWeather</string>
	<key>PROJECT_ID</key>
	<string>only-weather</string>
	<key>STORAGE_BUCKET</key>
	<string>only-weather.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591075817293:ios:01e9c83ba6d529ad</string>
	<key>DATABASE_URL</key>
	<string>https://only-weather.firebaseio.com</string>
</dict>
</plist>